@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #e7e2e2;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #252525;
  }
}

@media (prefers-color-scheme: light){
  main .badges div{
    filter: brightness(0.2);
  }
  #repositories .repository{
     color: white;
  }
  #repositories .repository:hover{
     color: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
}
