@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #e7e2e2;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #252525;
  }
}

@media (prefers-color-scheme: light){
  main #frame-header{
     color: white;
  }
  main #frame.oneros{
     background-color: #176558 !important;
  }
  main .badges div{
    filter: brightness(0.2);
  }
  #repositories .repository{
     color: white;
  }
  #repositories .repository:hover{
     color: black;
  }
}

@font-face {
  font-family: 'Jaapokki';
  font-style: normal;
  font-weight: 400;
  src: local('JaapokkiRegula'), local('Jaapokki'),
    url(https://fonts.cdnfonts.com/css/jaapokki)
      format('woff');
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
}
