@import url('https://fonts.cdnfonts.com/css/jaapokki');

@tailwind base;
@tailwind components;
@tailwind utilities;


header {
   /* background-color: #333; */
   border-bottom: 1px solid red;
   color: #fff;
   padding: 12px 14px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .logo{
   position: relative;
   top: 2px;
   color: #FFF;
   font-family: JaapokkiRegular, 'Jaapokki';
   font-size: 34.724px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

nav li {
   display: inline-block;
   margin-right: 16px;
   padding: 2px 8px;
   text-align: center;
}

nav li:last-child {
   margin-right: 0;
}

nav li:hover{
   position: relative;
   padding: 2px 8px;
   border-radius: 10px;
   background: rgba(118, 118, 118, 0.60);
   transition: all 0.4s ease;
}

nav li.active{
   border-radius: 10px;
   background: rgba(118, 118, 118, 0.60);
}

.options-selected{
   position: relative;
   top: 1px;
}

nav a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
}

@media not all and (min-width: 768px) {
   header{
      background-color: #333;
      color: #fff;
      padding: 12px 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   header .action1{
      display: flex;
   }

   header .action1 button{
      margin-left: 14px;
   }
   
   main {
      flex: 1;
      padding: 20px;
   }
   nav{
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      z-index: 100;
   }

   /*TO-DO Move footer in mobile to bottom of page*/

}
